<div class="container">

	<div class="col m12">
		<h1 class="center">Nuevo usuario</h1>
	</div>
	<div class="row">
		<form method="post"
			action="https://thegaminghub.herokuapp.com/usuario/c" name="userform"
			onsubmit="return vfU();" class="form" enctype="multipart/form-data">

			<div class="input-field col s12">
				<label for="nombre">Nombre</label> <input type="text" id="nombre"
					name="nombre">
			</div>

			<div class="input-field col s12">
				<label for="loginname">Nombre de usuario</label> <input type="text"
					id="loginname" name="loginname">
			</div>

			<div class="input-field col s12">
				<label for="email">Correo electrónico</label> <input type="text"
					id="email" name="email">
			</div>

			<div class="input-field col s12">
				<label for="pass">Contraseña</label> <input type="password"
					id="pass" name="pass">
			</div>
			<div class="file-field input-field col s12 m4 l4 xl4">
				<div class="btn waves-effect waves-dark">
					<span>Imagen de usuario</span> <input type="file" name="img">
				</div>
			</div>

			<div class="col m12">
				<div class="center">
					<input class="btn waves-effect waves-light purple" type="submit"
						name="action" value="Registrar Ususario">
				</div>
			</div>

		</form>
	</div>
</div>