<div class="container content">
	<div class="col m12">
			<h1 class="center">Cambiar contraseña</h1>
		</div>
		<div class="row">
	<form method="post" action="https://thegaminghub.herokuapp.com/cambioContrasenia" onsubmit="return validarUpdate_Pwd();" name="passForm" class="form">
		<input type="hidden" name="id" th:value="${usuario.id}">
	     
	     <div class="input-field col s12">
			<label for="passwordAc">Contraseña Actual</label> 
			<input type="password"  name="passwordAc">
		</div>
	     
	      <div class="input-field col s12">
	      <label for="passwordNu">Contraseña Nueva</label>
			<input type="password"  name="passwordNu">
		</div>
		
			<div class="col m12">
				<div class="center">
		<input class="btn waves-effect waves-light purple" type="submit" name="action" value="Actualizar">
			</div>
		</div>
		<input type="submit">
	</form>
	</div>
</div>