<div class="container">
	<div class="col m12">
			<h1>Cambiar contraseña</h1>
		</div>
		<div class="row">
	<form method="post" action="https://thegaminghub.herokuapp.com/cambioContrasenia" onsubmit="return validarUpdate_Pwd();" name="passForm" class="form">
		<input type="hidden" name="id" th:value="${usuario.id}">
	     
	     <div class="input-field col s12">
			
			<input type="password"  name="passwordAc" placeholder="Contraseña Actual">
		</div>
	     
	      <div class="input-field col s12">
			<input type="password"  name="passwordNu" placeholder="Nueva Contraseña">
		</div>
		
		
		<input class="btn waves-effect waves-light purple" type="submit" name="action" value="Actualizar">
			
			
			<a href="/">
				<button class="btn waves-effect waves-light purple">
				Home <i class="material-icons left">home</i>
				</button>
			</a>
		
		<input type="submit" class="form-item" />
	</form>
	</div>
</div>