<div class="container content">
<div class="row">
	<div class="col m12">
			<h1 class="center">Lista de usuarios</h1>
		</div>
</div>
	
	<table class="table table-striped">
		<tr>
			<th>Nombre</th>
			<th>LoginName</th>
			<th>Email</th>
			<th>Rol</th>
			<th>Opciones</th>
		</tr>

		<tr th:each="usuario:${usuarios}">
			
			<td th:text="${usuario.nombre}"></td>
			<td th:text="${usuario.loginname}"></td>
			<td th:text="${usuario.email}"></td>
			<td th:text="${usuario.rol}"></td>
			
			

	<td>
	<div class="row">
		<form action="https://thegaminghub.herokuapp.com/usuario/uAdmin" method="post">
			<input type="hidden" name="id" th:value="${usuario.id}" />
				<button onclick="submit()" class="btn-floating btn-large waves-effect waves-light purple">
						<i class="material-icons left">edit</i>
					</button>
				</form>
				<form action="https://thegaminghub.herokuapp.com/usuario/d" method="post" th:onsubmit="|return confirm('¿Estas seguro de que desea borrar este elemento ? ');|">
					<input type="hidden" name="id" th:value="${usuario.id}" />
					<button onclick="submit()" class="btn-floating btn-large waves-effect waves-light pink">
						<i class="material-icons left">delete</i>
					</button>
				</form>
			
			
				<form action="https://thegaminghub.herokuapp.com/usuario/cambiarRol" method="post">
					<input type="hidden" name="id" th:value="${usuario.id}" />
					<button class="btn waves-effect waves-light purple" onclick="submit()">
						Cambiar Rol (Solo admin);
					</button>
				</form>
		</div>
				</td>	
		</tr>

	</table>
	
	<a href="https://thegaminghub.herokuapp.com/usuario/c">
		<button class="btn waves-effect waves-light purple">
				Registrarse <i class="material-icons left">send</i>
				</button>
	</a>
    
</div>