<div class="container">
	<div class="col m12">
			<h1>Lista de usuarios</h1>
		</div>

	
	<table class="table table-striped">
		<tr>
			<th>Nombre</th>
			<th>LoginName</th>
			<th>Email</th>
			<th>Rol</th>
		</tr>

		<tr th:each="usuario:${usuarios}">
			
			<td th:text="${usuario.nombre}"></td>
			<td th:text="${usuario.loginname}"></td>
			<td th:text="${usuario.email}"></td>
			<td th:text="${usuario.rol}"></td>
			
			

			<td class="row">
				<form action="/usuario/uAdmin" method="post">
					<input type="hidden" name="id" th:value="${usuario.id}" />
					<button onclick="submit()">
						<img src="/img/edit.png" height="20" width="20">
					</button>
				</form>
				<form action="/usuario/d" method="post">
					<input type="hidden" name="id" th:value="${usuario.id}" />
					<button onclick="submit()">
						<img src="/img/delete.png" height="20" width="20">
					</button>
				</form>
			</td>
			<td class="row">
				<form action="/usuario/cambiarRol" method="post">
					<input type="hidden" name="id" th:value="${usuario.id}" />
					<button onclick="submit()">
						Cambiar Rol (Solo admin);
					</button>
				</form>
		</tr>

	</table>
	
	<a th:if="${session.usuario.rol == admin}" href="/usuario/c">
		<button class="btn waves-effect waves-light purple">
				Registrarse <i class="material-icons left">home</i>
				</button>
	</a>
    
</div>