<div class="container">

	<div class="col m12">
			<h1>Editar usuario</h1>
		</div>
		<div class="row">
		<form method="post" action="https://thegaminghub.herokuapp.com/usuario/uAdminPost" class="form" name="userform" onclick="return vformupdateUser();">
		<input type="hidden" name="id" th:value="${usuario.id}">
		
		<div class="input-field col s12">
			
			<input type="text"  name="nombre"  th:value="${usuario.nombre}" placeholder="Nombre">
		</div>
		
		<div class="input-field col s12">
			<input type="text" name="loginname" th:value="${usuario.loginname}" placeholder="Nombre de usuario">
		</div>
		
		<div class="input-field col s12">
			
			<input type="text" name="email" th:value="${usuario.email}" placeholder="Email">
		</div>
		
	
		<input class="btn waves-effect waves-light purple" type="submit" value="Actualizar"  name="action">
			
		
			
			<a href="/">
				<button class="btn waves-effect waves-light purple">
				Home <i class="material-icons left">home</i>
				</button>
			</a>
	</form>
	</div>
</div>