<div class="container">
<script>

function validarNameupdate_User(){
	var valido;
		 var n=document.userform.nombre.value;
	    var patt = new RegExp("^[a-zA-ZáéíóúñÑçÇ ]{2,30}$");
	    var t=patt.test(n);
			if(t){
				valido=true;
			}else{
				alert("El formato del nombre no es correcto.");
				valido=false;
			}
	    return valido;
	    }
	
	function validarEmailupdate_User(){
		var valido;
		        var pa=/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
		        var e=document.userform.email.value;
		        var t=pa.test(e);
						if(t){
							valido=true;
						}else{
							alert("El formato del correo electrónico no es correcto.");
							valido=false;
						}
	
		       return valido;
		      }
	
	
	    return valido;
	    }
		    function vformupdateUser(){
				if(validarN_User() && validarE_User()){
							return true;
				}else{
					alert("El formato introducido en los campo de texto no es el correcto.");
					return false;
				}
			}	
	</script>
	<div class="col m12">
			<h1>Editar usuario</h1>
		</div>
		<div class="row">
		<form method="post" action="https://thegaminghub.herokuapp.com/usuario/uAdminPost" class="form" name="userform" onclick="return vformupdateUser();">
		<input type="hidden" name="id" th:value="${usuario.id}">
		
		<div class="input-field col s12">
			<label for="nombre">Nombre</label>
			<input type="text"  name="nombre"  th:value="${usuario.nombre}">
		</div>
		
		<div class="input-field col s12">
			<label for="loginname">LoginName</label>
			<input type="text" name="loginname" th:value="${usuario.loginname}">
		</div>
		
		<div class="input-field col s12">
			<label for="email">Email</label>
			<input type="text" name="email" th:value="${usuario.email}">
		</div>
		
	
		<input class="btn waves-effect waves-light purple" type="submit" value="Actualizar"  name="action">
			
		
			
			<a href="/">
				<button class="btn waves-effect waves-light purple">
				Home <i class="material-icons left">home</i>
				</button>
			</a>
	</form>
	</div>
</div>