<div class="container">
	<script>
		
	</script>
	<div class="col s12 m12 l12 xl12 ">
		<h1>Editar usuario</h1>
	</div>

	<form method="post"	action="https://thegaminghub.herokuapp.com/usuario/uUsuarioPost" name="userform" onclick="return vformupdateUser();" class="updateUserform" enctype="multipart/form-data">
		<input type="hidden" name="id" th:value="${usuario.id}">

		<div class="input-field col s12 m12 l12 xl12">
			 <input type="text" name="nombre"
				th:value="${usuario.nombre}" placeholder="nombre">
		</div>
		<div class="input-field col s12 m12 l12 xl12">
			<input type="text"
				name="loginname" th:value="${usuario.loginname}" placeholder="Nombre de Usuario">
		</div>

		<div class="input-field col s12 m12 l12 xl12">
			<input type="text" name="email"
				th:value="${usuario.email}" placeholder="Email">
		</div>
		
		<div class="file-field input-field col s12 m4 l4 xl4">
			<div class="btn">
				<span>Imagen de usuario</span> <input type="file" name="img">
			</div>
			<div class="file-path-wrapper">
				<input class="file-path validate" type="text">
			</div>
		</div>

		<div class="col s12 m4 l4 xl4">
			<input class="btn waves-effect waves-light purple " type="submit"
				 name="action">
		</div>
		<br/>
		<div class="col s12 m4 l4 xl4">
			<a href="/cambioContrasenia"
				class="hoverable btn waves-effect waves-light purple"> Cambiar
				Contraseña <i class="material-icons left">chevron_right</i>
			</a>
		</div>


		

	</form>
</div>