<div class="container content">
 <div class="row separacion" style="margin-top:150px;" >
		 <div class="card ">
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width black ">
        <li class="tab white-text" th:each="foro,stat:${foros}">
        <a th:href="|#${foro.id}|" th:text="${foro.tipo}"></a>
        </li>
       
      
      </ul>
    </div>
    <div class="card-content black center">
      <div th:id="${foro.id}" th:each="foro,stat:${foros}">
    		 <form action="https://thegaminghub.herokuapp.com/entradaForo/r">
			<button onclick="submit()" class="waves-effect waves-light btn separacion purple large">
			Acceder al foro
			</button>
		   <input  name="idForo" type="hidden" th:value="${foro.id}">
		</form> 
	      </div>
	    
	    
	   </div>
    </div>
  </div>
  
  </div>