<div class="container">

	<div class="row">
	<h4 th:text="|Foros del juego ${juego.nombre}|" class="center"></h4>
	</div>
	<div class="row">
	
	<div th:each="foro:${foros}" class="col s3 m3 xl3 l3">
	
	  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="">
          <span class="card-title" th:text="${foro.tipo}"></span>
        </div>
        <div class="card-action">
         <form action="https://thegaminghub.herokuapp.com/entradaForo/r">
			<button onclick="submit()" class="waves-effect waves-light btn separacion purple large">
			<i class="large material-icons">arrow_forward</i>
			</button>
		   <input  name="idForo" type="hidden" th:value="${foro.id}">
		</form>
        </div>
      </div>
    </div>
  </div>
	</div>
	</div>
	
</div>