<div class="container">
	<div class="col m12">
	<span th:text="|Listado de participantes para: ${premio.nombrePremio} |"></span>
		</div>
	<table class="table table-striped">
		<tr>
			<th>Nominados</th>
		</tr>

		<tr th:each="n:${nominados}">

			<td th:text="${n.nombre}"></td>
			<td class="row">
				<form action="/premio/addVotoJ" method="post">
					<input type="hidden" name="id" th:value="${n.id}" />
					<input type="hidden" name="idPremio" th:value="${premio.id}">
					<button onclick="submit()" class="btn-floating btn-large waves-effect waves-light purple">
						<i class="material-icons left">add</i>
					</button>
				</form>
			</td>
		</tr>

	</table>
	
  <a href="/">
		<button class="btn waves-effect waves-light purple">
			Home <i class="material-icons left">home</i>
		</button>
	</a>
</div>