<div class="container">
	<!-- <h1>Listado de participantes a nominar</h1> -->
	<span th:text="|Listado de participantes para: ${premio.nombrePremio} |"></span>
	<table class="table table-striped">
		<tr>
			<th>Nombre de Nominados</th>
		</tr>

		<tr th:each="p:${participantes}">

			<td th:text="${p.nombre}"></td>
			<td class="row">
				<form action="/premio/addVotoP" method="post">
					<input type="hidden" name="id" th:value="${p.id}" />
					<input type="hidden" name="idPremio" th:value="${premio.id}">
					<button onclick="submit()">
						<img src="/img/add.png" height="20" width="20">
					</button>
				</form>
			</td>
		</tr>

	</table>
	
 <a href="/">
		<button>Cancelar</button>
	</a>
</div>