<div class="container content">
	
	<div class="col m12">
			<h1 class="center">Nuevo Premio</h1>
		</div>
		<form method="post"  action="http://localhost:8080/premio/c" class="form">
		
		<div class="input-field col s12">
			<label for="nombre">Nombre</label>
			<input type="text"  name="nombre">
		</div>
		
		<div class="col s12">
		<label for="tipo">Tipo de nominación</label>
		</div>
		
		<div class="input-field col s12">
			
			<select name="tipo" class="form-item"> 
				<option value="participante"> Participante Indiviual </option>
				<option value="juego"> Juego </option>
			</select>
		</div>
		
		<div class="row">
		<div class="col m6">
		<button class="btn waves-effect waves-light purple" type="submit" onclick="submit()" name="action">
			Crear <i class="material-icons left">send</i>
		</button>
		</div>
		<div class="col m6">
		<a href="/">
				<button class="btn waves-effect waves-light purple">
				 Home<i class="material-icons left">home</i>
				</button>
			</a>
			</div>
			
			</div>
	</form>
	

	
</div>