<div class="container">
<div class="col m12">
			<h1>Premios</h1>
		</div>
	<table class="highlight">
	<tr>
		<th>Premios para participantes</th>
	
	</tr>
	<tr th:each="pParticipante:${premioPartipantes}">
		<td th:text="${pParticipante.nombrePremio}"></td>
		<td class="row">
				<form action="/premio/addVotoP" method="get">
					<input type="hidden" name="id" th:value="${pParticipante.id}" />
					<button onclick="submit()" class="btn-floating btn-large waves-effect waves-light purple">
					Vote
					</button>
				</form>
				<form action="/premio/dP" method="post">
					<input type="hidden" name="id" th:value="${pParticipante.id}" />
					<button onclick="submit()" class="btn-floating btn-large waves-effect waves-light purple">
						<i class="material-icons left">delete</i>
					</button>
				</form>
		</td>
	</tr>
	</table>
	<table class="highlight">
	<tr>
		<th>Premios para juegos</th>
	
	</tr>
	<tr th:each="pJuego:${premioJuegos}">
		<td th:text="${pJuego.nombrePremio}"></td>
		
		<td class="row">
				<form action="/premio/addVotoJ" method="get">
					<input type="hidden" name="id" th:value="${pJuego.id}" />
					<button onclick="submit()" class="btn-floating btn-large waves-effect waves-light purple">
						Vote
					</button>
				</form>
				<form action="/premio/dJ" method="post">
					<input type="hidden" name="id" th:value="${pJuego.id}" />
					<button onclick="submit()" class="btn-floating btn-large waves-effect waves-light purple">
						<i class="material-icons left">delete</i>
					</button>
				</form>
		</td>
	</tr>
	</table>
	
	<a href="/">
		<button class="btn waves-effect waves-light purple">
			Home <i class="material-icons left">home</i>
		</button>
	</a>
</div>