<div class="container">
<h1>Listado Nominaciones</h1>
	<table class="table table-striped">
	<tr>
		<th>Nominaciones Participantes</th>
	
	</tr>
	<tr th:each="nparticipante:${nomPartipantes}">
		<td th:text="${nparticipante.nombre}"></td>
		
		<td class="row">
		<a href="/nominacion/addVotoP">
		  <button>Añadir Voto</button>
	      </a>
				<form action="/nominacion/addVotoP" method="get">
					<input type="hidden" name="id" th:value="${nparticipante.id}" />
					<button onclick="submit()">
						Añadir Voto
					</button>
				</form>
				<form action="/nominacion/dP" method="post">
					<input type="hidden" name="id" th:value="${nparticipante.id}" />
					<button onclick="submit()">
						<img src="/img/delete.png" height="20" width="20">
					</button>
				</form>
		</td>
	</tr>
	<tr>
		<th>Nominaciones Juegos</th>
	
	</tr>
	<tr th:each="njuego:${nomJuegos}">
		<td th:text="${njuego.nombre}"></td>
		
		<td class="row">
				<form action="/nominacion/addVoto" method="get">
					<input type="hidden" name="id" th:value="${njuego.id}" />
					<button onclick="submit()">
						Añadir Voto
					</button>
				</form>
				<form action="/nominacion/dJ" method="post">
					<input type="hidden" name="id" th:value="${njuego.id}" />
					<button onclick="submit()">
						<img src="/img/delete.png" height="20" width="20">
					</button>
				</form>
		</td>
	</tr>
	</table>
	<a href="/nominacion/c">
		<button>Crear</button>
	</a>
</div>