<div class="container">
<div class="col m12">
			<h1 th:text="|Fase de votacion de la Gala ${gala.edicion}|"></h1>
		</div>
	<ul class="collapsible">
    <li>
      <div class="collapsible-header black fondo-carta"><i class="material-icons">people_outline</i>Participantes</div>
      <div class="collapsible-body black">
      	<ul> 
      		<li th:each="premio:${gala.premioP}">
      		<form action="https://thegaminghub.herokuapp.com/premio/addVotoP" method="get">
      		<input type="hidden" name="id" th:value="${premio.id}"/>
      		<button class="btn-large waves-effect waves-light purple separacion" th:text="${premio.nombrePremio}" onclick="submit()"></button>
      		</form>
      		</li>
      	</ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header fondo-carta black"><i class="material-icons">nature</i>Juegos</div>
      <div class="collapsible-body black">
      	<ul>
      		<li th:each="premio:${gala.premioJ}">
      		<form action="https://thegaminghub.herokuapp.com/premio/addVotoJ" method="get">
      		<input type="hidden" name="id" th:value="${premio.id}"/>
      		<button class="btn-large waves-effect waves-light purple separacion" onclick="submit()" th:text="${premio.nombrePremio}"></button>
      		</form>
      		</li>
      	</ul>
      </div>
    </li>
    </ul>
	
	<a href="/">
		<button class="btn waves-effect waves-light purple">
			Home <i class="material-icons left">home</i>
		</button>
	</a>
</div>