<div class="container content">
	<div class="row">
		<h4 class="center">Editar premio</h4>
	</div>

	<div class="row">
	<form method="post" action="https://thegaminghub.herokuapp.com/premio/u">
		
		<input type="hidden" th:value="${nominacion.id}" name="id">

		<div class="input-field col s12">
			<label for="nombreN">Nombre de la Nominación</label>
			<input th:value="${nominacion.nombre}" type="text" id="nombreN" name="nombre">
		</div>
		<div class="row">
		<div class="center">
			<button class="btn waves-effect waves-light purple" type="submit" onclick="submit()" name="action">
			Crear <i class="material-icons left">send</i>
		</button>
		</div>
	</div>
	</form>
	</div>

</div>