<header class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="row">
	<div class="col-3 m-2">
	
	<a href="/"><img src="/img/home.png" class="rounded mx-auto d-block" height="40" width="40" /></a>
	
	</div>
	
	
		<div class="col-4" th:if="${session.usuario == null}">
			<a href="/registro">Registro</a>
			/
			<a href="/login">Login</a>
		</div>
	
		<div class="col-4" th:if="${session.usuario != null}">
			<span th:text="${session.usuario.nombre}"></span>
		/
			( <a href="/logout">Logout</a> )
		</div>

		
	</div>
</header>