<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
	<!--<link rel="stylesheet" href="/css/bootstrap.min.css">-->
	<link rel="stylesheet" href="/css/materialize.css">
	<link rel="stylesheet" href="/css/estilos.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="/js/jquery-3.2.1.slim.min.js" ></script>
	<script src="/js/popper.min.js" ></script>
	<script src="/js/materialize.js"></script>
	<script>$(document).ready(function(){
		$(".dropdown-trigger").dropdown();}) 
		</script>
	
	
	<title>The Gaming Hub</title>
</head>