<div class="container">
	<h4 th:class="|alert alert-${severity}|">
		<span th:text="${mensaje}"></span>
	</h4>

	<form th:action="|https://thegaminghub.herokuapp.com/${link}|" method="get">
		<button class="btn waves-effect waves-light purple" type="submit" onclick="submit()" name="action">
			<i class="material-icons left">home</i>
		</button>
		<div th:if="${!idForo.empty}">
		<input type="hidden" name="idForo" th:value="${idForo}">
		</div>
		<div th:if="${!idEntrada.empty}">
		<input type="hidden" name="idEntrada" th:value="${idEntrada}">
		</div>
	</form>
</div>