<nav>
	<nav>
		<div class="nav-wrapper">
			<button class="waves-effect waves-light pink accent-3">
				<a href="http://localhost:8080/"> <i class="material-icons">home</i></a>
			</button>
			<ul class="right hide-on-med-and-down">
				<li><a class="dropdown-trigger" href="#!" data-target="juego">Juego<i
						class="material-icons right"></i></a></li>
				<li><a class="dropdown-trigger" href="#!"
					data-target="categoria">Categoria<i
						class="material-icons right"></i></a></li>
				<li><a class="dropdown-trigger" href="#!" data-target="usuario">Usuario<i
						class="material-icons right"></i></a></li>
				<li><a class="dropdown-trigger" href="#!"
					data-target="nominacion">Nominacion<i
						class="material-icons right"></i></a></li>
				<li><a class="dropdown-trigger" href="#!"
					data-target="participante">Participante<i
						class="material-icons right"></i></a></li>
				<li><a class="dropdown-trigger" href="#!"
					data-target="categoria">Categoria Juego<i
						class="material-icons right"></i></a></li>
				<li><a class="dropdown-trigger" href="#!"
					data-target="categoriaP">Categoria Participante<i
						class="material-icons right"></i></a></li>
				<li><a class="dropdown-trigger" href="#!" data-target="galas">Galas<i
						class="material-icons right"></i></a></li>
				<li><a class="dropdown-trigger" href="#!" data-target="premios">Premios<i
						class="material-icons right"></i></a></li>
				<li><a class="dropdown-trigger" href="#!"
					data-target="nominarP">Nominar Participantes<i
						class="material-icons right"></i></a></li>
				<li><a class="dropdown-trigger" href="#!"
					data-target="nominarJ">Nominar Juegos<i
						class="material-icons right"></i></a></li>
				<li><a class="dropdown-trigger" href="#!" data-target="init">Init<i
						class="material-icons right"></i></a></li>
				<li><button data-target="slide-out"
						class="waves-effect waves-light btn sidenav-trigger pink accent-3">
						<i class="material-icons">person </i>
					</button></li>
			</ul>
		</div>
	</nav>
	<!-- Dropdown Structure -->
	<ul id="juego" class="dropdown-content">
		<li><a href="http://localhost:8080/juego/c">Crear</a></li>
		<li class="divider"></li>
		<li><a href="http://localhost:8080/juego/r">Listar</a></li>
	</ul>

	<ul id="plataforma" class="dropdown-content">
		<li><a href="http://localhost:8080/plataforma/c">Crear</a></li>
		<li class="divider"></li>
		<li><a href="http://localhost:8080/plataforma/r">Listar</a></li>
	</ul>

	<ul id="usuario" class="dropdown-content">
		<li><a href="http://localhost:8080/usuario/c">Crear</a></li>
		<li class="divider"></li>
		<li><a href="http://localhost:8080/usuario/r">Listar</a></li>
	</ul>

	<ul id="nominacion" class="dropdown-content">
		<li><a href="http://localhost:8080/nominacion/c">Crear</a></li>
		<li class="divider"></li>
		<li><a href="http://localhost:8080/nominacion/r">Listar</a></li>
	</ul>

	<ul id="participante" class="dropdown-content">
		<li><a href="http://localhost:8080/participante/c">Crear</a></li>
		<li class="divider"></li>
		<li><a href="http://localhost:8080/participante/r">Listar</a></li>
	</ul>

	<ul id="categoria" class="dropdown-content">
		<li><a href="http://localhost:8080/categoria/c">Crear</a></li>
		<li class="divider"></li>
		<li><a href="http://localhost:8080/categoria/r">Listar</a></li>
	</ul>

	<ul id="categoriaP" class="dropdown-content">
		<li><a href="http://localhost:8080/categoriaParticipante/c">Crear</a></li>
		<li class="divider"></li>
		<li><a href="http://localhost:8080/categoriaParticipante/r">Listar</a></li>
	</ul>

	<ul id="galas" class="dropdown-content">
		<li><a href="http://localhost:8080/gala/c">Crear</a></li>
		<li class="divider"></li>
		<li><a href="http://localhost:8080/gala/r">Listar</a></li>
	</ul>

	<ul id="premios" class="dropdown-content">
		<li><a href="http://localhost:8080/premio/c">Crear</a></li>
		<li class="divider"></li>
		<li><a href="http://localhost:8080/premio/r">Listar</a></li>
	</ul>

	<ul id="nominarP" class="dropdown-content">
		<li><a
			href="http://localhost:8080/nominacion/nominarParticipante">Nominar</a></li>
	</ul>

	<ul id="nominarJ" class="dropdown-content">
		<li><a href="http://localhost:8080/nominacion/nominarJuego">Nominar</a></li>
	</ul>


	<ul id="init" class="dropdown-content">
		<li><a href="http://localhost:8080/init">Inicializar base de
				datos</a></li>
	</ul>

</nav>


<ul id="slide-out" class="sidenav">
	<li><div class="user-view">
			<!-- 			<div class="background"> -->
			<!-- 				<img src="images/office.jpg"> -->
			<!-- 			</div> -->
			<!--       <a href="#user"><img class="circle" src="images/yuna.jpg"></a> -->
			<!--       <a href="#name"><span class="white-text name">John Doe</span></a> -->
			<!--       <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a> -->
			<div class="col-12" th:if="${session.usuario == null}">
				<a class="waves-effect waves-light btn hoverable" href="/registro">Registro</a>
				<a class="waves-effect waves-light btn hoverable" href="/login">Login</a>
			</div>
			<div class="col-12" th:if="${session.usuario != null}">
				<div class="chip">
					<img th:src="|img/${session.usuario.img}|" alt="Contact Person">
					<span th:text="${session.usuario.nombre}"></span>
				</div>
				<ul class="collapsible">
					<li>
						<div class="collapsible-header">
							<i class="material-icons">brightness_7</i> Opciones
						</div>
						<div class="collapsible-body">
							<ul>
								<li><a class="waves-effect waves-light btn hoverable"
									href="/logout">Logout</a></li>
								<li><a class="waves-effect waves-light btn hoverable"
									href="/usuario/uUsuario">Editar perfil</a></li>

							</ul>
						</div>
			</div>
		</div></li>
	<li><div class="divider"></div></li>
	<li><a href="#!"><i class="material-icons">cloud</i>First Link
			With Icon</a></li>
	<li><a href="#!">Second Link</a></li>
	<li><div class="divider"></div></li>
	<li><a class="subheader">Subheader</a></li>
	<li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
</ul>
