	<nav  class="fondo-carta black letrasNav" >
	<div class="row">	
		<div class="nav-wrapper s4 m4 l4 xl4">
			<div class="valign-wrapper left" style=" margin-top:5px">			
				<button
					class="waves-effect waves-light btn-floating btn-large color-trans"
					onclick="location.href = '/';">
					<img style="margin-top:5px"	src="/img/logo2.png" height="50" width="50" alt="logo"></img>
				</button>
				<button data-target="slide-out"	class="waves-effect waves-light btn-floating btn-large sidenav-trigger color-trans">
					<i class="material-icons large">person </i>
				</button>			
			</div>
		
			<ul class="right s4 m4 l4 xl4">

				<li><a class="waves-effect waves-light btn-floating btn-large color-trans" href="https://thegaminghub.herokuapp.com/juego/r/1" data-target="juego"><img
						src="/img/mando.png" height="50" width="50" alt="juegos"></img></a></li>
				
				<li><a class="waves-effect waves-light btn-floating btn-large color-trans" href="https://thegaminghub.herokuapp.com/gala/r" data-target="galas"><img style="margin-top:5px"
						src="/img/copa.png" height="45" width="45" alt="galas"></img></a></li>
			</ul>
		</div>
		</div>	
	</nav>

<ul id="slide-out" class="sidenav fondo-geometrico black letrasNav">
	<li><div class="user-view ">
			<!-- 			<div class="background"> -->
			<!-- 				<img src="images/office.jpg"> -->
			<!-- 			</div> -->
			<!--       <a href="#user"><img class="circle" src="images/yuna.jpg"></a> -->
			<!--       <a href="#name"><span class="white-text name">John Doe</span></a> -->
			<!--       <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a> -->
			<div class="col-12" th:if="${session.usuario == null}">
				<a class="waves-effect waves-light btn hoverable purple white-text"
					href="/registro">Registro</a> 
					<a class="waves-effect waves-light btn hoverable purple white-text" href="/login">Login</a>
			</div>
			<div class="col-12" th:if="${session.usuario != null}">
				<div class="chip purple white-text ">
				<img  th:src="|data:image/png;base64,${session.usuario.imgUP}|"alt="Contact Person">					
					<span th:text="${session.usuario.nombre}"></span> <i th:if="${session.usuario.rol=='admin'}" class="material-icons iPropio"> verified_user</i>     
				</div>
				
				
				<ul class="collapsible">
					<li>
						<div class="collapsible-header letrasNav">
							<i class="material-icons">brightness_7</i> Opciones
						</div>
						<div class="collapsible-body fondo-geometrico color-trans">
							<ul>
								<li><a class="waves-effect waves-light btn hoverable purple white-text"
									href="/logout">Logout</a></li>
								<li><a class="waves-effect waves-light btn hoverable purple white-text"
									href="/usuario/uUsuario">Editar perfil</a></li>

							</ul>
						</div>
				</ul>
			</div>
		</div></li>
	<li><div class="divider"></div></li>
		<li><ul class="collapsible letrasNav">
					<li>
						<div class="collapsible-header letrasNav">
							<i class="material-icons">brightness_7</i> Nominar
						</div>
						<div class="collapsible-body fondo-geometrico color-trans">
							<ul>
								<li><a class="waves-effect waves-light btn hoverable purple white-text"
									href="https://thegaminghub.herokuapp.com/nominacion/nominarParticipante">Nominar Participantes</a></li>
								<li><a class="waves-effect waves-light btn hoverable purple white-text"
									href="https://thegaminghub.herokuapp.com/nominacion/nominarJuego">Nominar Juegos</a></li>

							</ul>
						</div>
				</ul></li>
	<li class="white-text"><a href="/premio/r" class="letrasNav">Premios</a></li>
	<li><div class="divider"></div></li>
	<li class="center"><button class="waves-effect waves-light btn hoverable purple white-text" onclick="location.href='/foro/r2';" >Foros</button></li>
</ul>
