<div class="container">
	<div class="col m12">
			<h1>Plataformas</h1>
		</div>

	<table class="highlight">
	<tr>
		<th>Nombre</th>
		<th>Imagen</th>
		<th>Acciones<th>
	</tr>
	<tr th:each="plataforma:${plataformas}">
		<td th:text="${plataforma.nombre}"></td>
		<td th:text="${plataforma.img}"></td>
		
		<td class="row">
				<form action="/plataforma/u" method="get">
					<input type="hidden" name="id"  th:value="${plataforma.id}" />
					<button onclick="submit()"  class="btn-floating btn-large waves-effect waves-light purple">
						<i class="material-icons left">edit</i>
					</button>
				</form>
				<form action="/plataforma/d" method="post">
					<input type="hidden" name="id" />
					<button onclick="submit()" class="btn-floating btn-large waves-effect waves-light purple" th:value="${plataforma.id}">
						<i class="material-icons left">delete</i>
					</button>
				</form>
		</td>
	</tr>
	</table>
</div>