<div class="container">
	<h1>Nuevo Participante</h1>

	<form method="post" enctype="multipart/form-data" action="/participante/c" class="form">

		Nombre <input type="text" name="nombre" class="form-item"> <br>
		Apellido <input type="text" name="apellido" class="form-item"> <br>
		Biografía <input type="text" name="bio" class="form-item"> <br>
		Teaser <input type="text" name="teaser" class="form-item"><br>
		Imagen<input type="file" name="img" class="form-item">  <br>

		<br/>
		<input type="submit" class="form-item"><br>
	</form>
	
		<a href="/">
		<button>Cancelar</button>
	</a>
	
</div>