<div class="container">
		<div class="col m12">
			<h3 class="center">Nuevo Participante</h3>
		</div>
	<br>
		<br>
	<div class="row">
		<form method="post" class="form" enctype="multipart/form-data" onsubmit="return vfP()" name="partForm" action="https://thegaminghub.herokuapp.com/participante/c" class="col s12">

				<div class="input-field col s6">
				<label for="nombre">Nombre</label>
					<input name="nombre" type="text" class="validate">
				</div>


				<div class="input-field col s6">
				<label for="apellido">Apellidos</label>
					<input type="text" name="apellido" class="validate">
				</div>


			<div class="input-field col s12">
			<label for="bio">Biografía</label>
				<input type="text" name="bio" class="validate">

			</div>

			<div class="input-field col s12">
			<label for="teaser">Teaser</label>
				<input type="text" name="teaser" class="">

			</div>

			<div class="file-field input-field col s12">
				<div class="btn waves-effect waves-dark">
					<span>Imagen</span> <input type="file" name="img" class="">
					</div>
				</div>
			<br>
			<br>

			 <div class="col s12">
				<fieldset class="separacion">
					<legend>Categorias</legend>
					<span th:each="categoria:${categorias}"> <label
						th:for="|cat-${categoria.id}|" style="font-size: 20px"> <input
							type="checkbox" th:id="|cat-${categoria.id}|"
							class="indeterminate-checkbox" th:name="idCat"
							th:value="${categoria.id}" /> <span th:text="${categoria.nombre}"
							style="font-size: 15px"></span>
					</label>
					</span>
				</fieldset>
			</div>
		<br>

		<br>
		<br>
		<br>

		<input class="btn waves-effect waves-light purple" type="submit" value="Crear"  name="action">
			 

	</form>
			<br>
		<br>
		<div class="row">
		<div class="center">
			<a href="/">
				<button class="btn waves-effect waves-light purple">
				Home <i class="material-icons left">home</i>
				</button>
			</a>
			</div>
			</div>
	</div>
	</div>
