<div class="container">
	<div class="col m12">
			<h1>Participantes</h1>
		</div>
	<table class="highlight">
		<tr>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Biografía</th>
			<th>Teaser</th>
			<th>Imagen</th>
		</tr>

		<tr th:each="p:${participantes}">

			<td th:text="${p.nombre}"></td>
			<td th:text="${p.apellido}"></td>
			<td th:text="${p.bio}"></td>
			<td th:text="${p.teaser}"></td>
			<td><img th:src="${p.img}" height="40" width="40"/></td>
			

			<td class="row">
				<form action="https://thegaminghub.herokuapp.com/participante/u" method="get">
					<input type="hidden" name="id" th:value="${p.id}" />
					<button onclick="submit()" class="btn-floating btn-large waves-effect waves-light purple">
						<i class="material-icons left">edit</i>
					</button>
				</form>
				<form action="https://thegaminghub.herokuapp.com/participante/d" method="post">
					<input type="hidden" name="id" th:value="${p.id}" />
					<button onclick="submit()" class="btn-floating btn-large waves-effect waves-light purple">
						<i class="material-icons left">delete</i>
					</button>
				</form>
			</td>
		</tr>

	</table>
	
	<a href="https://thegaminghub.herokuapp.com/participante/c">
		<button  class="btn waves-effect waves-light purple">
			Crear <i class="material-icons left">create</i>
		</button>
	</a> 
	<a href="https://thegaminghub.herokuapp.com/">
		<button class="btn waves-effect waves-light purple">
			Home <i class="material-icons left">home</i>
		</button>
	</a>
</div>