<div class="container">
<script type="text/javascript">
	
				</script>
	<div class="col m12">
			<h3>Editar Participante</h3>
		</div>
		<div class="row">
	<form method="post" enctype="multipart/form-data" onsubmit="return vfPu()" name="partFormu" action="https://thegaminghub.herokuapp.com/participante/u" class="form">
		<div class="input-field col s6">
			<input name="nombre" type="text" class="validate"  placeholder="Nombre" th:value="${participante.nombre}"> 	
			</div>
		<div class="input-field col s6">
					<input type="text" name="apellido" placeholder="Apellidos" class="validate" th:value="${participante.apellido}"> 
					
				</div>
			<div class="input-field col s12">
				<input type="text" name="bio" placeholder="Biografía" class="validate"  th:value="${participante.bio}">
				 
			</div>

		<div class="input-field col s12">
			
				<input type="text" name="teaser" placeholder="teaser" class=""  th:value="${participante.teaser}">
				
			</div>
			
			<div class="file-field input-field col s12">
				<div class="btn waves-effect waves-dark">
					<img th:src="${participante.img}" height="40" width="40"/><br>
					<input type="file" name="img" class="">
					</div>
				</div>
		
		<div class="file-field input-field col s12">
		
		<label for="idNominacion[]" >Nominación</label>
		<select name="idNominacion[]">
			<option th:each="nominacion:${nominaciones}" th:text="${nominacion.nombre}" th:value="${nominacion.id}" th:selected="${participante.nominado.id==nominacion.id}"></option>
		</select>
		<br>
		<input type="hidden" name="id" th:value="${participante.id}"/>
		
		</div>
		
		
		<input class="btn waves-effect waves-light purple" type="submit" value="Actualizar" name="action">
			
		<br>
	</form>
	</div>
</div>