<div class="container">
	<div class="col s6">
			<h1>Nominar Juegos</h1>
		</div>
	
	<table class="highlight">
		<tr>
			<th>Nombre</th>
			
		</tr>

		<tr th:each="j:${juegos}">
		<td th:text="${j.nombre}" ></td>
			<td class="row">
			
				<form action="/nominacion/nominarJuego" method="POST">
					<input type="hidden" name="id" th:value="${j.id}" />
					
					<select name="premio">
						<option th:each="premio:${premioJ}" th:value="${premio.id}" th:text="${premio.nombrePremio}"></option>
					</select>
					
					<button onclick="submit()" class="btn-floating btn-large waves-effect waves-light purple">
						Nominar
					</button>
				</form>
				<form action="/juego/d" method="post">
					<input type="hidden" name="id" th:value="${j.id}" />
					<button onclick="submit()" class="btn-floating btn-large waves-effect waves-light purple" th:onsubmit="|return confirm('¿Estas seguro de que desea borrar este elemento ?');|">
						<i class="material-icons left">delete</i>
					</button>
				</form>
			</td>
		</tr>

	</table>
	
	 <a href="/">
		<button class="btn waves-effect waves-light purple">
		Home <i class="material-icons left">home</i>
		</button>
	</a>
</div>