<div class="container content">
	<div class="row">
			<h4 class="center" th:text="|Nominar Participantes para Gala ${gala.edicion}|"></h4>
		</div>
	
	<table class="striped">
		<tr>
			<th>Nombre</th>
			
		</tr>

		<tr th:each="p:${participantes}">
		<td th:text="${p.nombre}"></td>
			<td class="row">
				<form action="/nominacion/nominarParticipante" method="post">
					<input type="hidden" name="id" th:value="${p.id}" />
					
					<select name="premio">
						<option th:each="premio:${premioP}" th:value="${premio.id}" th:text="${premio.nombrePremio}"></option>
					</select>
					
					<button onclick="submit()" class="btn-floating btn-large waves-effect waves-light purple">
						Nominar
					</button>
				</form>
				<form action="/participante/d" method="post">
					<input type="hidden" name="id" th:value="${p.id}" />
					<button onclick="submit()" class="btn-floating btn-large waves-effect waves-light purple" th:onsubmit="|return confirm('¿Estas seguro de que desea borrar este elemento ?');|">
						<i class="material-icons left">delete</i>
					</button>
				</form>
			</td>
		</tr>

	</table>
	
			<div class="row">
				<div class="center">	
					<a href="/">
						<button class="btn waves-effect waves-light purple">
							Cancelar<i class="material-icons left">home</i>
						</button>
					</a>
				</div>
			</div>
</div>