<div class="container">
	<h1>Nominar Participantes</h1>
	<table class="table table-striped">
		<tr>
			<th>Nombre</th>
			
		</tr>

		<tr th:each="p:${participantes}">
		<td th:text="${p.nombre}"></td>
			<td class="row">
				<form action="/nominacion/nominarParticipante" method="post">
					<input type="hidden" name="id" th:value="${p.id}" />
					<select name="premio">
						<option th:each="premio:${premioP}" th:value="${premio.id}" th:text="${premio.nombrePremio}"></option>
					</select>
					<button onclick="submit()">
						Nominar
					</button>
				</form>
				<form action="/participante/d" method="post">
					<input type="hidden" name="id" th:value="${p.id}" />
					<button onclick="submit()">
						<img src="/img/delete.png" height="20" width="20">
					</button>
				</form>
			</td>
		</tr>

	</table>
	
	<a href="/participante/c">
		<button>Crear</button>
	</a> <a href="/">
		<button>Cancelar</button>
	</a>
</div>