<div class="container">
<h1>Listado Nominaciones</h1>
	<table class="table table-striped">
	<tr>
		<th>Nombre</th>
		<th>Acciones<th>
	</tr>
	<tr th:each="nominacion:${nominaciones}">
		<td th:text="${nominacion.nombre}"></td>
		
		<td class="row">
				<form action="/nominacion/u" method="get">
					<input type="hidden" name="id" th:value="${nominacion.id}" />
					<button onclick="submit()">
						<img src="/img/edit.png" height="20" width="20">
					</button>
				</form>
				<form action="/nominacion/d" method="post">
					<input type="hidden" name="id" th:value="${nominacion.id}" />
					<button onclick="submit()">
						<img src="/img/delete.png" height="20" width="20">
					</button>
				</form>
		</td>
	</tr>
	</table>
	<a href="/nominacion/c">
		<button>Crear</button>
	</a>
</div>