<div class="container">
<form method="get">
					<input type="text" name="filtro"/>
					<select name="tipo">
					<optgroup label="Campo de busqueda">
					<option>Nombre</option>
					<option>Plataforma</option>
					</optgroup>
					</select>
					<button onclick="submit()" class="waves-effect waves-light btn separacion">
						Buscar
					</button>
				</form>
<div class="row">
<div class="col s6" th:each="juego:${juegos}">
	<div class="card grey darken-3 white-text">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" th:src="|/img/cover/${juego.img}|" width="150px" height="500px">
    </div>
    <div class="card-content grey darken-3 white-text ">
      <span class="card-title activator white-text text-darken-4" th:text="${juego.nombre}"><i class="material-icons right">more_vert</i></span>
      <p>
      <form action="/foro/r" method="get">
					<input type="hidden" name="id" th:value="${juego.id}" />
					<button onclick="submit()" class="waves-effect waves-light btn separacion">
						Foro
					</button>
				</form>
		</p>
		<p><form action="/juego/u" method="get">
					<input type="hidden" name="id" th:value="${juego.id}" />
					<button onclick="submit()"class="waves-effect waves-light btn separacion">
						<i class="material-icons left">edit</i>
					</button>
				</form></p>
		<p><form action="/juego/d" method="post">
					<input type="hidden" name="id" th:value="${juego.id}" />
					<button onclick="submit()" class="waves-effect waves-light btn">
						<i class="material-icons left">delete</i>
					</button>
				</form></p>
    </div>
    <div class="card-reveal grey darken-3 white-text letra-grande">
      <span class="card-title white-text flow-text " th:text="${juego.nombre}"><i class="material-icons right">close</i></span>
      <p th:text="|Precio: ${juego.precio} €|"></p>
      <p th:text="|Stock: ${juego.stock} .ud|"></p>
      <p th:text="|Desarrolladora: ${juego.desarrolladora}|"></p>
      <p><ul th:each="plataforma:${juego.plataformas}">
					<li th:text="${plataforma.nombre}"></li>
				</ul>
	  </p>
	  <p><ul th:each="categoria:${juego.pertenece}">
					<li th:text="${categoria.nombre}"></li>
				</ul>
	  </p>
    </div>
  </div>
  </div>
  </div>
</div>