<div class="container">
	<table class="highlight">
	<tr>
		<th>Nombre</th>
		<th>Acciones</th>
	</tr>
	<tr>
	<tr th:each="categoria:${categorias}">
		<td th:text="${categoria.nombre}"></td>
		<td class="row">
				<form action="/categoria/u" method="get">
					<input type="hidden" name="id" th:value="${categoria.id}" />
					<button onclick="submit()" class="btn-floating btn-large waves-effect waves-light purple" >
						<i class="material-icons left">edit</i>
					</button>
				</form>
				<form action="/categoria/d" method="post">
					<input type="hidden" name="id" th:value="${categoria.id}" />
					<button onclick="submit()"  class="btn-floating btn-large waves-effect waves-light purple">
						<i class="material-icons left">delete</i>
					</button>
				</form>
		</td>
	</tr>
	</table>
</div>