<div class="container">
	<table class="highlight">
	<tr>
		<th>Nombre</th>
		<th>Acciones</th>
	</tr>
	<tr>
	<tr th:each="categoria:${categorias}">
		<td th:text="${categoria.nombre}"></td>
		<td class="row">
				<form action="https://thegaminghub.herokuapp.com/categoriaParticipante/u" method="get">
					<input type="hidden" name="id" th:value="${categoria.id}" />
					<button onclick="submit()" class="btn-floating btn-large waves-effect waves-light purple">
						<i class="material-icons left">edit</i>
					</button>
				</form>
				<form action="https://thegaminghub.herokuapp.com/categoriaParticipante/d" method="post">
					<input type="hidden" name="id" th:value="${categoria.id}" />
					<button onclick="submit()" class="btn-floating btn-large waves-effect waves-light purple">
						<i class="material-icons left">delete</i>
					</button>
				</form>
		</td>
	</tr>
	</table>
	
	<a href="/categoriaParticipante/c">
		<button class="btn  waves-effect waves-light purple">Crear</button>
	</a>
	<a href="/">
		<button class="btn  waves-effect waves-light purple">Home</button>
	</a>
</div>