<div class="container content">
	<table class="highlight">
	<tr>
		<th>Nombre</th>
		<th>Acciones</th>
	</tr>
	<tr>
	<tr th:each="categoria:${categorias}">
		<td th:text="${categoria.nombre}"></td>
		<td>
		<div class="row">
		<div class="col s6 m6 l6 xl6">
				<form action="https://thegaminghub.herokuapp.com/categoriaParticipante/u" method="get">
					<input type="hidden" name="id" th:value="${categoria.id}" />
					<button onclick="submit()" class="btn-floating btn-large waves-effect waves-light purple">
						<i class="material-icons left">edit</i>
					</button>
				</form>
				</div>
				<div class="col s6 m6 l6 xl6">
				<form action="https://thegaminghub.herokuapp.com/categoriaParticipante/d" method="post" th:onsubmit="|return confirm('¿Estas seguro de que desea borrar este elemento ?');|">
					<input type="hidden" name="id" th:value="${categoria.id}" />
					<button onclick="submit()" class="btn-floating btn-large waves-effect waves-light pink">
						<i class="material-icons left">delete</i>
					</button>
				</form>
				</div>
				</div>
		
		</td>
	</tr>
	</table>
	
	<a href="/categoriaParticipante/c">
		<button class="btn  waves-effect waves-light purple">Crear</button>
	</a>
	<a href="/">
		<button class="btn  waves-effect waves-light purple">Home</button>
	</a>
</div>