.barra-navegacion{
	background-color:rgb(0,0,0) !important;
	
}
.cuerpo-pagina{
	background-image:url("/img/fondo.webp");
	background-size:120%;
	background-repeat: no-repeat;
	color:rgb(255,255,255);
}
nav{
background-color:rgb(0,0,0) !important;
}
div ul li a{
color: #651fff !important;
}
input
{
	color:white;
	
}

label{
	font-size: 20px !important;
}
legend{
	font-size: 20px !important;
}
fieldset{
	padding: 20px !important;
}
button{
	margin: 15px !important;
	margin-top:0px !important;
}