.barra-navegacion{
	background-color:rgb(0,0,0) !important;
	
}
.cuerpo-pagina{
	background-image:url("/img/fondo.webp");
	background-size:120%;
	background-repeat: no-repeat;
	color:rgb(255,255,255);
}
nav{
background-color:rgb(0,0,0) !important;
}
div ul li a{
color: #651fff !important;
}
input
{
	color:white;
	
}
input:hover
{
	border:1px solid rgb(132,162,155);
	border-radius: 50%;
	background-color:rgb(132,162,155) !important;
	opacity:1.0;
	color:black
	
}
label{
	font-size: 13px;
}