<div class="container">
<h1>HOME PAGE</h1>
<ul>
		<li>Juego(<a href="/juego/r">Listar</a>/<a href="/juego/c">Crear</a>)</li>
		<li>Plataforma(<a href="/plataforma/r">Listar</a>/<a href="/plataforma/c">Crear</a>)</li>
		<li>Usuario(<a href="/usuario/r">Listar</a>/<a href="/usuario/c">Crear</a>)</li>
		<li>Nominacion(<a href="/nominacion/r">Listar</a>/<a href="/nominacion/c">Crear</a>)</li>
		<li>Participante(<a href="/participante/r">Listar</a>/<a href="/participante/c">Crear</a>)</li>
		<li>Categoria Juego(<a href="/categoria/r">Listar</a>/<a href="/categoria/c">Crear</a>)</li>
		<li>Categoria Participante(<a href="/categoriaParticipante/r">Listar</a>/<a href="/categoriaParticipante/c">Crear</a>)</li>
		<li>Galas(<a href="/gala/r">Listar</a>/<a href="/gala/c">Crear</a>)</li>
		<li>Premios(<a href="/premio/r">Listar</a>/<a href="/premio/c">Crear</a>)</li>
		<li>Nominar Participantes(<a href="/nominacion/nominarParticipante">Nominar</a>)</li>
		<li>Nominar Juegos(<a href="/nominacion/nominarJuego">Nominar </a>)</li>
	</ul>
</div>