<div class="container">
	<h1>Nueva entrada al foro</h1>

	<form method="post" action="/entradaForo/c" class="form">

		Comentario  <i class="material-icons prefix">mode_edit</i><br>
		<textarea name="comentario" cols="30" rows="5" min="1"></textarea> <br>
		<input type="hidden" name="id" th:value="${id}" />
		<button class="waves-effect waves-light btn separacion" onclick="submit()">Enviar</button>
	</form>
	
		<a href="/">
		<button class="waves-effect waves-light btn separacion">Cancelar</button>
	</a>
	
</div>