<div class="container">
<form action="http://localhost:8080/entradaForo/c" method="get">
					<input type="hidden" name="id" th:value="${id}" />
					<button onclick="submit()">
						Crear
					</button>
				</form>
<table class="table table-striped">
		<tr>
			<th>Comentario</th>
		</tr>
		 
		<tr th:each="entrada:${entradas}">
		<td th:text="${entrada.comentario}"></td>
		<td class="row">
          <form action="/entradaForo/like" method="get">
					<input type="hidden" name="id" th:value="${entrada.id}" />
					<button onclick="submit()">
						<img src="/img/like.png" height="20" width="20">
					</button>
				</form>
				<form action="/entradaForo/dislike" method="get">
					<input type="hidden" name="id" th:value="${entrada.id}" />
					<button onclick="submit()">
						<img src="/img/dislike.png" height="20" width="20">
					</button>
				</form>
				<!-- <form action="/entradaForo/u" method="get">
					<input type="hidden" name="id" th:value="${entrada.id}" />
					<button onclick="submit()">
						<img src="/img/edit.png" height="20" width="20">
					</button>
				</form> -->
				<!-- <form action="/entradaForo/d" method="get">
					<input type="hidden" name="id" th:value="${entrada.id}" />
					<button onclick="submit()">
						<img src="/img/delete.png" height="20" width="20">
					</button>
				</form> -->
			</td>
		</tr>
		</table>
</div>