<div class="container">
<!-- s6 m4 l2 xl2 -->
<div class="row">
<p th:if="${session.usuario==null}">Debes haber iniciado sesion para dar me gusta o no me gusta, comentar y para leer mensajes propio escritos en este foro <a href="https://thegaminghub.herokuapp.com/login">Iniciar sesion</a></p>
				<div class="col s12 m4 l12 xl12">
				<form method="get">
					<input type="text" name="filtro" th:value="${filtro}" placeholder="Buscar entrada en el foro"/>
					<input type="hidden" name="idForo" th:value="${id}" />
					<select name="tipo">
					<optgroup label="Campo de busqueda">
					<option th:selected="${tipo=='Comentario'}">Comentario</option>
					<option th:selected="${tipo=='LoginName'}">LoginName</option>
					</optgroup>
					</select>
					<button onclick="submit()" class="waves-effect waves-light btn separacion purple">
						Buscar
					</button>
				</form>
				</div>
				</div>
				<fieldset>
				<legend>Ordenar por:</legend>
				<div class="row">
				<div class="col s12 m4 l12 xl12">
				<form method="get">
					<input type="hidden" name="idForo" th:value="${id}" />
					<input type="hidden" name="tipo" value="nuevo">
					<button onclick="submit()" class="waves-effect waves-light btn separacion purple">
					Mas recientes
					</button>
				</form>
				</div>
				<div class="col s12 m4 l12 xl12">
				<form method="get">
					<input type="hidden" name="idForo" th:value="${id}" />
					<button onclick="submit()" class="waves-effect waves-light btn separacion purple">
					Por Ranking
					</button>
				</form>
				</div>
				</div>
				</fieldset>
				<fieldset>
				<legend>Acciones:</legend>
				<div class="row">
				<div class="col s12 m12 l12 xl12">
<form action="https://thegaminghub.herokuapp.com/entradaForo/c" method="get">
					<input type="hidden" name="id" th:value="${id}" />
					<input type="hidden" name="idJuego" th:value="${idJuego}">
					<button onclick="submit()" class="waves-effect waves-light btn separacion purple">
						Escribir comentario
					</button>
				</form>
				</div>
				<div class="col s12 m12 l12 xl12">
				<form action="https://thegaminghub.herokuapp.com/entradaForo/rPropio" method="get">
					<input type="hidden" name="id" th:value="${id}" />
					<button onclick="submit()" class="waves-effect waves-light btn separacion purple">
						Mis comentarios en este foro
					</button>
				</form>
				</div>
				<div class="col s12 m12 l12 xl12">
				<form action="https://thegaminghub.herokuapp.com/foro/r" method="get">
					<input type="hidden" name="id" th:value="${idJuego}">
					<button onclick="submit()" class="waves-effect waves-light btn separacion purple">
						Menu subforos
					</button>
				</form>
				</div>
				</div>
				</fieldset>
<div th:each="entrada:${entradas}">	
  <div class="row">
    <div class="col s12 m6">
      <div class=" fondo-carta card black darken-1 z-depth-3">
        <div class=" card-content white-text">
          <span class="card-title" th:text="|${entrada.comentario}|" ></span>
          
          <p th:text="${entrada.escribe.loginname}"> <i th:if="${entrada.escribe.rol=='admin'}" class="material-icons"> verified_user</i></p>
          <span th:if="${entrada.img!=null}"><img th:src="${entrada.img}" width="100%" height="100%"></span>
          <p th:text="${entrada.fechaPublicacion}"></p>
          
          <span th:text="|${entrada.ranking}|"></span><img src="/img/like1.png" width="25px" height="25px">
        </div>
        <div class="card-action grey darken-4">
        <div class="row">
        <div class="col s12 m6 l2 xl2">
          <form action="https://thegaminghub.herokuapp.com/entradaForo/like" method="get">
					<input type="hidden" name="id" th:value="${entrada.id}" />
					<input type="hidden" name="idForo" th:value="${entrada.pertenece.id}" />
					<button th:if="${session.usuario!=null}" onclick="submit()" class="waves-effect waves-light btn separacion purple">
					<div id="like" th:each="voto:${entrada.votos}">
						<img th:if="${voto.votante.id}==${session.usuario.id} and ${voto.voto=='dislike'}" src="/img/like1.png" height="20" width="20">
						<img th:if="${voto.votante.id}==${session.usuario.id} and ${voto.voto=='like'}" src="/img/like2.png" height="20" width="20">
						<img th:if="${#lists.contains(entrada.votos.votante.id, session.usuario.id)}" src="/img/like1.png" height="20" width="20">
				    </div>
				    </button>
					<button th:if="${session.usuario==null}"onclick="submit()" class="waves-effect waves-light btn separacion purple">
					<img  src="/img/like1.png" height="20" width="20">
					</button>
				</form>
				</div>
		<div class="col s12 m6 l2 xl2">
          <form action="https://thegaminghub.herokuapp.com/entradaForo/dislike" method="get">
					<input type="hidden" name="id" th:value="${entrada.id}" />
					<input type="hidden" name="idForo" th:value="${entrada.pertenece.id}" />
						<button th:if="${session.usuario!=null}" onclick="submit()" class="waves-effect waves-light btn separacion purple">
					<div id="dislike" th:each="voto:${entrada.votos}">
						<img th:if="${voto.votante.id}==${session.usuario.id} and ${voto.voto=='dislike'}" src="/img/dislike2.png" height="20" width="20">
						<img th:if="${voto.votante.id}==${session.usuario.id} and ${voto.voto=='like'}" src="/img/dislike1.png" height="20" width="20">
						<img th:if="${#lists.contains(entrada.votos.votante.id, session.usuario.id)}" src="/img/dislike1.png" height="20" width="20">
				    </div>
				    </button>
					<button th:if="${session.usuario==null}"onclick="submit()" class="waves-effect waves-light btn separacion purple">
					<img  src="/img/dislike1.png" height="20" width="20">
					</button>
				</form>
				</div>
		<div class="col s12 m6 l3 xl3">
				<form action="https://thegaminghub.herokuapp.com/entradaForo/responder" method="get">
					<input type="hidden" name="idEntrada" th:value="${entrada.id}" />
					<input type="hidden" name="idForo" th:value="${entrada.pertenece.id}" />
					<button onclick="submit()" class="waves-effect waves-light btn separacion purple" >
						Responder
					</button>
				</form>
				</div>
				<div class="col s12 m6 l5 xl5">
				<form action="https://thegaminghub.herokuapp.com/entradaForo/verRespuestas" method="get">
				<input type="hidden" name="idJuego" th:value="${idJuego}">
					<input type="hidden" name="idEntrada" th:value="${entrada.id}" />
					<input type="hidden" name="idForo" th:value="${entrada?.pertenece.id}" />
					<button th:text="|Respuestas(${entrada.respuestas.size()})|"onclick="submit()" class="waves-effect waves-light btn separacion purple">
						
					</button>
				</form>
				</div>
        </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<script>
window.onload=function(){
	if(document.getElementById("like").children.length==0){
		document.getElementById("like").innerHTML="<img src='/img/like1.png' height='20' width='20'>";
		
		
	}
	if(document.getElementById("dislike").children.length==0){
		document.getElementById("dislike").innerHTML="<img src='/img/dislike1.png' height='20' width='20'>";
		
		
	}	
}

</script>