<div class="container">
	<div class="col s6">
			<h1>Nueva Edicion</h1>
		</div>
	
		<div class="row">
		<form action="https://thegaminghub.herokuapp.com/gala/c" method="post">
			<div class="input-field s12">
			<label for="Txt-edicion">Edicion</label>
			<input type="text" name="edicion" id="Txt-edicion" required="required">
		</div>
		
		<div class="col s12">
		<label for="f-inicio">Fecha de Inicio</label>
		<input type="text" id="f-inicio" name="inicio" class="datepicker" style="color:'black'" required="required" >
		</div>
	
		<div class="col s12">
		<label for="f-fin">Fecha Fin</label>
		<input type="text" id="f-fin" name="fin" class="datepicker" style="color:'black'" required="required" >
		</div>
	    
	   <fieldset>
	    <legend>Premios disponibles Juegos</legend>
	     <span th:each="premioJ:${premiosJ}" >
	      <label th:for="|J${premioJ.id}|" >
	      <input th:id="|J${premioJ.id}|" type="checkbox" name="premiosJ[]" th:value="${premioJ.id}">
	      <span th:text="${premioJ.nombrePremio}" ></span>
	      </label> 
	      
	     </span>
	     
	   </fieldset>
	   
	   <fieldset>
	    <legend>Premios disponibles Participante</legend>
	     <span th:each="premioP:${premiosP}">
	      <label th:for="|P${premioP.id}|"> 
	      <input th:id="|P${premioP.id}|" type="checkbox" name="premiosP[]" th:value="${premioP.id}">
	      <span th:text="${premioP.nombrePremio}"></span>
	      </label> 
	     
	     </span>
	     
	   </fieldset>
	<button  class="btn waves-effect waves-light purple"  onclick="submit()">
	Crear <i class="material-icons left">send</i>
	</button>
		<a href="/">
				<button class="btn waves-effect waves-light purple">
				Home <i class="material-icons left">home</i>
				</button>
			</a>
	</form>
	</div>
</div>