<div class="container">
	<div class="col s6">
			<h1>Nueva Edicion</h1>
		</div>
	
		<div class="row">
		<form action="/gala/c" method="post">
			<div class="input-field s12">
			<label for="Txt-edicion">Edicion</label>
			<input type="text" name="edicion" id="Txt-edicion" required="required">
		</div>
		
		<div class="col s12">
		<label for="f-inicio">Fecha de Inicio</label>
		<input type="text" id="f-inicio" name="inicio" class="datepicker" style="color:'black'" required="required" >
		</div>
	
		<div class="col s12">
		<label for="f-fin">Fecha Fin</label>
		<input type="text" id="f-fin" name="fin" class="datepicker" style="color:'black'" required="required" >
		</div>
	
	<button  class="btn waves-effect waves-light purple"  onclick="submit()">
	Crear <i class="material-icons left">send</i>
	</button>
		<a href="/">
				<button class="btn waves-effect waves-light purple">
				Home <i class="material-icons left">home</i>
				</button>
			</a>
	</form>
	</div>
</div>