<div class="container">
	<div class="col s6">
			<h1>Nueva Edicion</h1>
		</div>
	
		<div class="row">
		<form action="https://thegaminghub.herokuapp.com/gala/c" method="post">
			<div class="input-field s12">
			<label for="Txt-edicion">Edicion</label>
			<input type="text" name="edicion" id="Txt-edicion" required="required">
		</div>
		
		<div class="col s12">
		<label for="f-inicio">Fecha de Inicio</label>
		<input type="text" id="f-inicio" name="inicio" class="datepicker" style="color:'black'" required="required" >
		</div>
	
		<div class="col s12">
		<label for="f-fin">Fecha Fin</label>
		<input type="text" id="f-fin" name="fin" class="datepicker" style="color:'black'" required="required" >
		</div>
	    
	   <fieldset>
	    <legend>Premios disponibles Participantes</legend>
	    
	      <label for="1" >
	      <input id="1" type="checkbox" name="premiosP[]" value="Mejor direccion">
	      <span>Mejor dirección</span>
	      </label> 
	      
	      <label for="2" >
	      <input id="2" type="checkbox" name="premiosP[]" value="Mejor direccion Artística">
	      <span>Mejor dirección Artística</span>
	      </label> 
	      
	      <label for="3" >
	      <input id="3" type="checkbox" name="premiosP[]" value="Mejor produccion audiovisual">
	      <span>Mejor producción audiovisual</span>
	      </label> 
	      
	      <label for="4" >
	      <input id="4" type="checkbox" name="premiosP[]" value="Mejor anfitrion eSports">
	      <span>Mejor anfitrión eSports</span>
	      </label>
	      
	      <label for="5" >
	      <input id="5" type="checkbox" name="premiosP[]" value="Mejor creador de contenido">
	      <span>Mejor creador de contenido</span>
	      </label>
	      
	      <label for="6" >
	      <input id="6" type="checkbox" name="premiosP[]" value="Mejor entrenador de eSports">
	      <span>Mejor entrenador de eSports</span>
	      </label>
	      
	      <label for="7" >
	      <input id="7" type="checkbox" name="premiosP[]" value="Mejor jugador de eSports">
	      <span>Mejor jugador de eSports</span>
	      </label>
	      
	      <label for="8" >
	      <input id="8" type="checkbox" name="premiosP[]" value="Mejor equipo de eSports">
	      <span>Mejor equipo de eSports</span>
	      </label>
	      
	      <label for="9" >
	      <input id="9" type="checkbox" name="premiosP[]" value="Mejor guionista">
	      <span>Mejor guionista</span>
	      </label>
	      
	      
	      <label for="10" >
	      <input id="10" type="checkbox" name="premiosP[]" value="Mejor actor de doblaje">
	      <span>Mejor actor de doblaje</span>
	      </label>
	      
	      
	      <label for="11" >
	      <input id="11" type="checkbox" name="premiosP[]" value="Mejor desarrolladora">
	      <span>Mejor desarrolladora</span>
	      </label>
	      
	      
	      <label for="12" >
	      <input id="12" type="checkbox" name="premiosP[]" value="Mejor actor">
	      <span>Mejor actor</span>
	      </label>
	      
	      
	      
	    
	     
	   </fieldset>
	   
	   <fieldset>
	    <legend>Premios disponibles Juego</legend>
	     
	      <label for="1"> 
	      <input id="1" type="checkbox" name="premiosJ[]" value="Juego del Año">
	      <span>Juego del Año</span>
	      </label>
	      
	      <label for="2"> 
	      <input id="2" type="checkbox" name="premiosJ[]" value="Mejor Narrativa">
	      <span>Mejor Narrativa</span>
	      </label>
	      
	      <label for="3"> 
	      <input id="3" type="checkbox" name="premiosJ[]" value="Mejor Banda Sonora">
	      <span>Mejor Banda Sonora</span>
	      </label>
	      
	      <label for="4"> 
	      <input id="4" type="checkbox" name="premiosJ[]" value="Mejor Juego de Accion">
	      <span>Mejor Juego de Accion</span>
	      </label>
	      
	      <label for="5"> 
	      <input id="5" type="checkbox" name="premiosJ[]" value="Mejor Juego de Aventura">
	      <span>Mejor juego de Aventura</span>
	      </label>
	      
	      <label for="6"> 
	      <input id="6" type="checkbox" name="premiosJ[]" value="Mejor Juego de rol">
	      <span>Mejor juego de rol</span>
	      </label>
	      
	      <label for="7"> 
	      <input id="7" type="checkbox" name="premiosJ[]" value="Mejor Juego de Lucha">
	      <span>Mejor Juego de Lucha</span>
	      </label>
	      
	      <label for="8"> 
	      <input id="8" type="checkbox" name="premiosJ[]" value="Mejor Juego Familiar">
	      <span>Mejor Juego Familiar</span>
	      </label>
	      
	      <label for="9"> 
	      <input id="9" type="checkbox" name="premiosJ[]" value="Mejor Juego de Estrategia">
	      <span>Mejor Juego de Estrategia</span>
	      </label>
	      
	      <label for="10"> 
	      <input id="10" type="checkbox" name="premiosJ[]" value="Mejor Juego de Deportes/Carreras">
	      <span>Mejor Juego de Deportes/Carreras</span>
	      </label>
	      
	      <label for="11"> 
	      <input id="11" type="checkbox" name="premiosJ[]" value="Mejor Juego Multijugador">
	      <span>Mejor Juego Multijugador</span>
	      </label>
	      
	      <label for="12"> 
	      <input id="12" type="checkbox" name="premiosJ[]" value="Mejor Juego como Servicio">
	      <span>Mejor Juego como Servicio</span>
	      </label>
	      
	      <label for="13"> 
	      <input id="13" type="checkbox" name="premiosJ[]" value="Mejor juego de eSports">
	      <span>Mejor juego de eSports</span>
	      </label>
	      
	      <label for="14"> 
	      <input id="14" type="checkbox" name="premiosJ[]" value="Mejor Evento de eSports">
	      <span>Mejor Evento de eSports</span>
	      </label>
	      
	      <label for="15"> 
	      <input id="15" type="checkbox" name="premiosJ[]" value="Mejor Soporte a la Comunidad">
	      <span>Mejor Soporte a la Comunidad</span>
	      </label>
	      
	      <label for="16"> 
	      <input id="16" type="checkbox" name="premiosJ[]" value="Juego de Mayor Impacto">
	      <span>Juego de Mayor Impacto</span>
	      </label>
	      
	      <label for="17"> 
	      <input id="17" type="checkbox" name="premiosJ[]" value="Mejor Juego Indie">
	      <span>Mejor Juego Indie</span>
	      </label>
	      
	      <label for="18"> 
	      <input id="18" type="checkbox" name="premiosJ[]" value="Mejor Juego para Moviles">
	      <span>Mejor Juego para Moviles</span>
	      </label>
	      
	      <label for="19"> 
	      <input id="19" type="checkbox" name="premiosJ[]" value="Mejor Juego VR">
	      <span>Mejor Juego VR</span>
	      </label>
	      
	      <label for="20"> 
	      <input id="20" type="checkbox" name="premiosJ[]" value="Mejor Juego del Mes">
	      <span></span>
	      </label>
	       
	   </fieldset>
	<button  class="btn waves-effect waves-light purple"  onclick="submit()">
	Crear <i class="material-icons left">send</i>
	</button>
		<a href="/">
				<button class="btn waves-effect waves-light purple">
				Home <i class="material-icons left">home</i>
				</button>
			</a>
	</form>
	</div>
</div>