
<div th:if="${fecha}<${fechaActual} or ${estado}==false"
	class="container">
	<p th:if="${session.usuario==null}">Para poder votar tienes que <a href="https://thegaminghub.herokuapp.com/login">iniciar sesion</a></p>
	<h3>Ninguna gala activa</h3>
	<form action="https://thegaminghub.herokuapp.com/gala/r">
		<button class="btn waves-effect waves-light purple" onclick="submit()">Ver
			pasadas ediciones</button>
	</form>
</div>


<div th:if="${fecha}>${fechaActual} and ${estado}==true"
	class="container">
	<p th:if="${session.usuario==null}">Para poder votar tienes que <a href="https://thegaminghub.herokuapp.com/login">iniciar sesion</a></p>
	<span style="display: none"
		th:utext="${#temporals.format(fecha, 'dd-MM-yyyy')}" id="ff"></span>
	<h3>Gala activa</h3>
	<h5 id="crono"></h5>
	<p th:text="|${JuegoDeMayorImpacto.premio.nombrePremio}: ${JuegoDeMayorImpacto.nombre} con ${JuegoDeMayorImpacto.cantidadVotos} votos|"></p>
	<p th:text="|${JuegoDelAnio.premio.nombrePremio}: ${JuegoDelAnio.nombre} con ${JuegoDelAnio.cantidadVotos} votos|"></p>
	<p th:text="|${MejorBandaSonora.premio.nombrePremio}: ${MejorBandaSonora.nombre} con ${MejorBandaSonora.cantidadVotos} votos|"></p>
	<p th:text="|${MejorEventoDeEsport.premio.nombrePremio}: ${MejorEventoDeEsport.nombre} con ${MejorEventoDeEsport.cantidadVotos} votos|"></p>
	<!-- <p th:text="|${MejorJuegoComoServicio.nombrePremio}: ${MejorJuegoComoServicio.nombre} con ${MejorJuegoComoServicio.cantidadVotos} votos|"></p> -->
	<p th:text="|${MejorJuegoDeAccion.premio.nombrePremio}: ${MejorJuegoDeAccion.nombre} con ${MejorJuegoDeAccion.cantidadVotos} votos|"></p>
	<p th:text="|${MejorJuegoDeCarreras.premio.nombrePremio}: ${MejorJuegoDeCarreras.nombre} con ${MejorJuegoDeCarreras.cantidadVotos} votos|"></p>
	<p th:text="|${MejorJuegoDeEsports.premio.nombrePremio}: ${MejorJuegoDeEsports.nombre} con ${MejorJuegoDeEsports.cantidadVotos} votos|"></p>
	<p th:text="|${MejorJuegoDeEstrategia.premio.nombrePremio}: ${MejorJuegoDeEstrategia.nombre} con ${MejorJuegoDeEstrategia.cantidadVotos} votos|"></p>
	<p th:text="|${MejorJuegoDeLucha.premio.nombrePremio}: ${MejorJuegoDeLucha.nombre} con ${MejorJuegoDeLucha.cantidadVotos} votos|"></p>
	<p th:text="|${MejorJuegoDeRol.premio.nombrePremio}: ${MejorJuegoDeRol.nombre} con ${MejorJuegoDeRol.cantidadVotos} votos|"></p>
	<p th:text="|${MejorJuegoFamiliar.premio.nombrePremio}: ${MejorJuegoFamiliar.nombre} con ${MejorJuegoFamiliar.cantidadVotos} votos|"></p>
	<p th:text="|${MejorJuegoIndie.premio.nombrePremio}: ${MejorJuegoIndie.nombre} con ${MejorJuegoIndie.cantidadVotos} votos|"></p>
	<p th:text="|${MejorJuegoMultijugador.premio.nombrePremio}: ${MejorJuegoMultijugador.nombre} con ${MejorJuegoMultijugador.cantidadVotos} votos|"></p>
	<p th:text="|${MejorMoviles.premio.nombrePremio}: ${MejorMoviles.nombre} con ${MejorMoviles.cantidadVotos} votos|"></p>
	<p th:text="|${MejorJuegoVR.premio.nombrePremio}: ${MejorJuegoVR.nombre} con ${MejorJuegoVR.cantidadVotos} votos|"></p>
	<p th:text="|${MejorNarrativa.premio.nombrePremio}: ${MejorNarrativa.nombre} con ${MejorNarrativa.cantidadVotos} votos|"></p>
	<p th:text="|${MejorComunidad.premio.nombrePremio}: ${MejorComunidad.nombre} con ${MejorComunidad.cantidadVotos} votos|"></p>
		<form action="https://thegaminghub.herokuapp.com/premio/r">
		<button class="btn waves-effect waves-light purple separacion" onclick="submit()">Votar para los premios</button>
	</form>
	<form action="https://thegaminghub.herokuapp.com/gala/r">
		<button class="btn waves-effect waves-light purple" onclick="submit()">Ver
			pasadas ediciones</button>
	</form>
</div>
<script type="text/javascript" th:if="${fecha}>${fechaActual} and ${estado}==true">
function restaFechas(f1,f2){
 var aFecha1 = f1.split('/');
 var aFecha2 = f2.split('-');
 var fFecha1 = Date.UTC(aFecha1[2],aFecha1[1]-1,aFecha1[0],aFecha1[3],aFecha1[4],aFecha1[5]);
 var fFecha2 = Date.UTC(aFecha2[2],aFecha2[1]-1,aFecha2[0],17,0,0);
 var dif = fFecha2 - fFecha1;
 var minutos =Math.floor(((dif % (1000 * 60 * 60))/(1000*60)));
 var horas =Math.floor(((dif % (1000 * 60 * 60 *24))/(1000*60*60)));
 var dias =Math.floor(dif / (1000 * 60 * 60 * 24 ));
 document.getElementById("crono").innerHTML=("Quedan "+dias+" d "+horas+" h "+minutos+" m para la entrega de premios");

 }

    window.onload=function(){
    	var actual=new Date();
    	var fechacom=actual.getDate()+"/"+(actual.getMonth()+1)+"/"+actual.getFullYear()+"/"+actual.getHours()+"/"+actual.getMinutes()+"/"+actual.getSeconds();
    	restaFechas(fechacom,document.getElementById('ff').innerHTML);
    		setInterval(function(){
			 actual=new Date();
			 fechacom=actual.getDate()+"/"+(actual.getMonth()+1)+"/"+actual.getFullYear()+"/"+actual.getHours()+"/"+actual.getMinutes()+"/"+actual.getSeconds();
			restaFechas(fechacom,document.getElementById('ff').innerHTML);
			},60000);
    	
    }
</script>

<div th:if="${fecha}<${fechaActual} and ${fechaDePremio}>${fechaActual}"
	class="container">
	<p th:if="${session.usuario==null}">Para poder votar tienes que <a href="https://thegaminghub.herokuapp.com/login">iniciar sesion</a></p>
	<h3>Gala concluida</h3>
	
	
	
	
	<form action="https://thegaminghub.herokuapp.com/gala/r">
		<button class="btn waves-effect waves-light purple" onclick="submit()">Ver
			pasadas ediciones</button>
	</form>
</div>

