<div class="container">
<table class="table table-stripped">
	<th>
		<td>Edicion</td>
		<td>Fecha de Inicio</td>
		<td>Fecha Fin</td>
		<td>Añadir Observacion</td>
		<td>Gala activa?</td>
	</th>
	<tr th:each="gala:${galas}">
		<td th:text="${gala.edicion}"></td>
		<td th:text="${gala.inicio}"></td>
		<td th:text="${gala.fin}"></td>
		<td>
			<form action="/gala/observacion" method="get">
				<input type="hidden" name="id" th:value="${gala.id}" />
				<button onclick="submit()">
					Añadir observacion
				</button>
			</form>
		</td>
		<td>
			<form action="/gala/activar" method="post">
				<input type="hidden" name="id" th:value="${gala.id}" />
				<button onclick="submit()">
					Activar/Desactivar
				</button>
			</form>
		</td>
		<td th:text="${gala.activo} ? '✔':'X' "></td>
	</tr>
</table>
</div>