<div class="container content">
<div class="col m12">
			<h1>Galas</h1>
		</div>
	<table class="highlight striped">
		<tr>
			<th class= "center">Edicion</th>
			<th class= "center">Fecha de Inicio</th>
			<th class= "center">Fecha Fin</th>			
			<th class= "center">Observacion</th>
			<th class= "center">Gala activa?</th>
			<th class= "center">Opciones</th>
		<tr>
		<tr th:each="gala:${galas}">
			<td >
				<h5 th:text="|Edicion ${gala.edicion}|"></h5>
			</td>
			<td th:text="${gala.inicio}" class= "center"></td>
			<td th:text="${gala.fin}" class= "center"></td>
			<td th:text="${gala.observaciones}" class= "center"></td>
			<td th:text="${gala.activo} ? 'Activada':'Desactivada'" class= "center"></td>
			<td>
			<div class="row">
				<div class="col s12 m3 center">
				<form action="https://thegaminghub.herokuapp.com/gala/observacion" method="get">
					<input type="hidden" name="id" th:value="${gala.id}" />
					<button onclick="submit()" class="btn waves-effect waves-light purple">
					Añadir observacion
					</button>
				</form>
				</div>
				<div class="col s12 m3 center">
				<form action="https://thegaminghub.herokuapp.com/gala/activar" method="post">
					<input type="hidden" name="id" th:value="${gala.id}" />
					<button onclick="submit()" class="btn waves-effect waves-light purple">
					Activar/Desactivar
					</button>
				</form>
				</div>
				<div class="col s12 m3 center">
				<form action="https://thegaminghub.herokuapp.com/gala/u" method="get">
					<input type="hidden" name="id" th:value="${gala.id}" />
					<button onclick="submit()" class="btn waves-effect waves-light purple">
						<i class="material-icons left">edit</i>
					</button>
				</form>
				</div>
				<div class="col s12 m3 center">
				<form action="https://thegaminghub.herokuapp.com/gala/d" method="post">
					<input type="hidden" name="id" th:value="${gala.id}" />
					<button onclick="submit()" class="btn waves-effect waves-light pink">
						<i class="material-icons left">delete</i>
					</button>
				</form>
				</div>
				</div>
			</td>


		</tr>
	</table>
</div>