<div class="container">
<div class="col m12">
			<h1>Galas</h1>
		</div>
	<table class="highlight">
		<tr>
			<th>Edicion</th>
			<th>Fecha de Inicio</th>
			<th>Fecha Fin</th>			
			<th>Observacion</th>
			<th>Gala activa?</th>
			<th>Acciones</th>
		<tr>
		<tr th:each="gala:${galas}">
			<td th:text="${gala.edicion}"></td>
			<td th:text="${gala.inicio}"></td>
			<td th:text="${gala.fin}"></td>
			<td th:text="${gala.observaciones}"></td>
			<td th:text="${gala.activo} ? 'Activada':'Desactivada'"></td>
			<td>
				<form action="/gala/observacion" method="get">
					<input type="hidden" name="id" th:value="${gala.id}" />
					<button onclick="submit()" class="btn waves-effect waves-light purple">
					Añadir observacion
					</button>
				</form>
				<br/>
				<form action="/gala/activar" method="post">
					<input type="hidden" name="id" th:value="${gala.id}" />
					<button onclick="submit()" class="btn waves-effect waves-light purple">
					Activar/Desactivar
					</button>
				</form>
				<br/>
				<form action="/gala/u" method="get">
					<input type="hidden" name="id" th:value="${gala.id}" />
					<button onclick="submit()" class="btn waves-effect waves-light purple">
						<i class="material-icons left">edit</i>
					</button>
				</form>
				<br/>
				<form action="/gala/d" method="post">
					<input type="hidden" name="id" th:value="${gala.id}" />
					<button onclick="submit()" class="btn waves-effect waves-light purple">
						<i class="material-icons left">delete</i>
					</button>
				</form>
			</td>


		</tr>
	</table>
</div>