<div class="container">
<h1>Editar Gala</h1>
	<form method="post" action="/gala/u">
	<input type="hidden" name="id" th:value="${gala.id}">
	<label for="edcionG">Edicion de la Gala</label>
	<input th:value="${gala.edicion}" type="text" id="edicionG" name="edicion">
	<br>
	<label for="f-ini">Fecha de inicio</label>
	<input th:value="${gala.inicio}" type="date" id="f-ini" name="inicio">
	<br>
	<label for="f-fin">Fecha Fin</label>
	<input th:value="${gala.fin}" type="date" id="f-fin" name="fin">
	<br>
	<input type="submit">
	</form>

</div>