<div class="container">

	<div  name="seleccionadas">
        <fieldset>Plataformas seleccionadas</fieldset>
        </div>
        <div style="border: solid black 3px;">
        <fieldset>Plataformas disponibles</fieldset>
        <div>
            <select onchange="busca()" name="selector" id="busca">
                <option value="">Elegir</option>
                <option value="Sony">Sony</option>
                <option value="Microsoft">Microsoft</option>
                <option value="Nintendo">Nintendo</option>
                <option value="PC">PC</option>
                <option value="Sega">Sega</option>
                <option value="SNK">SNK</option>
                <option value="Atari">Atari</option>
            </select>
        </div>
        <div name="expositor" id="qwe">

        </div>
        </div>



</div>