<div class="container">

	 <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">people_outline</i>Participantes</div>
      <div class="collapsible-body">
      	<ul th:each="premio:${pp}">
      		<li>
      		<button class="btn-floating btn-large waves-effect waves-light purple" th:onclick="|https://thegaminghub.herokuapp.com/premio/addVotoP?id=${premio.id}|" th:value="${premio.nombre_premio}"></button>
      		</li>
      	</ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">nature</i>Juegos</div>
      <div class="collapsible-body">
      	<ul th:each="premio:${pj}">
      		<li>
      		<button class="btn-floating btn-large waves-effect waves-light purple" th:onclick="|https://thegaminghub.herokuapp.com/premio/addVotoJ?id=${premio.id}|" th:value="${premio.nombre_premio}"></button>
      		</li>
      	</ul>
      </div>
    </li>
    </ul>

</div>