<div class="container">
	<h1>Introducir credenciales</h1>
	<form class="form" method="post">
	
	<div class="input-field col s12">
			<label for="loginname">Nombre de usuario / correo electrónico</label>
			<input type="text" name="loginname">
		</div>
		
		<div class="input-field col s12">
			<label for="password">Contraseña</label>
			<input type="password" name="password">
		</div>
				
		<button class="btn waves-effect waves-light purple" type="submit" onclick="submit()" name="action">
			Iniciar sesión <i class="material-icons left">chevron_right</i>
			</button>
			
			<a href="/">
				<button class="btn waves-effect waves-light purple">
				Home <i class="material-icons left">home</i>
				</button>
			</a>
	
	<br/>
	</form>
</div>